@import '../../../../styles/global-variables.scss';

.carousel-item {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 5px;
  cursor: pointer;
  transform: scale(0.8);
  border-bottom: 2px solid transparent;
  opacity: 0.7;

  &.highlight {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1);
    opacity: 1;
  }
}
