@import '../../styles/global-variables.scss';

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 3%;
  padding-top: 8rem;
  max-width: 1024px;

  .hero-text {
    display: flex;
    flex-direction: column;

    .hi {
      font-size: 3rem;
      font-weight: lighter;
      letter-spacing: 2px;
      margin-bottom: 1rem;
    }

    .intro-text {
      line-height: 1.3em;
      letter-spacing: 1px;
      font-size: 1.1rem;
      margin-bottom: 1rem;
      margin-left: 0.1rem;
    }

    @media only screen and (min-width: 720px) {
      & {
        margin-bottom: 5rem;

        .hi {
          font-size: 4rem;
        }
      }
    }

    @media only screen and (min-width: 900px) {
      & {
        margin-bottom: 10rem;
      }
    }

    @media only screen and (min-width: 1024px) {
      & {
        margin-bottom: 15rem;
      }
    }
  }

  .hero-img {
    @media only screen and (min-width: 720px) {
      & {
        width: 70%;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
