@import './global-variables.scss';

body {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.red {
  color: #e45c4c;
  font-weight: bold;
}

.yellow {
  color: #fece2f;
  font-weight: bold;
}

.header {
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding: 0 5rem 0.25rem 0.5rem;
  margin-bottom: 1rem;
  display: inline-block;
  position: relative;
  border-bottom: 2px solid $yellow;
  font-weight: bold;
  color: $red;

  @media only screen and (min-width: 900px) {
    & {
      font-size: 1.4rem;
    }
  }
}

.sub-header {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}
