.experiences {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  .experience {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    .name {
      font-weight: bold;
    }

    .city {
      font-size: 0.8rem;
      margin-bottom: 0.25rem;
      color: rgb(50, 50, 50);
    }
  }

  @media only screen and (min-width: 900px) {
    & {
      width: auto;
      margin-right: 6rem;
    }
  }
}
