@import '../../../styles/global-variables.scss';

.project {
  display: flex;
  overflow: hidden;
  position: relative;
  bottom: 0;
  user-select: none;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description {
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin: 1rem 1rem 1.5rem 1rem;
  }

  @media only screen and (min-width: 900px) {
    & {
      flex-direction: column;
    }
  }

  @media only screen and (min-width: 1240px) {
    & {
      margin: 0 1rem;
    }
  }
}
