@import '../../../styles/global-variables.scss';

.project {
  display: flex;
  overflow: hidden;
  position: relative;
  bottom: 0;
  user-select: none;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    margin: 1rem;
    display: flex;
    flex-direction: column;

    .description {
      letter-spacing: 0.5px;
      line-height: 1.2;
      margin-bottom: 1rem;
    }

    .tools-links {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-top: 1rem;
      border-top: 1px solid grey;

      .tools {
        > * {
          margin-right: 1rem;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }

      .links {
        display: flex;
        align-items: flex-end;

        > * {
          margin-right: 1rem;
        }

        > *:last-of-type {
          margin-right: 0;
        }

        img {
          width: 2rem;
        }
      }
    }
  }

  @media only screen and (min-width: 900px) {
    & {
      flex-direction: column;
    }
  }

  @media only screen and (min-width: 1240px) {
    & {
      margin: 0 1rem;
    }
  }
}
