@import '../../styles/global-variables.scss';

.custom-carousel {
  display: flex;
  align-items: center;

  .carousel-control {
    cursor: pointer;
    font-size: 3rem;
    color: $red;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-bottom: 3px solid transparent;

    &:hover {
      border-color: $yellow;
    }

    &:first-of-type {
      margin-right: 0.75rem;
    }

    &:last-of-type {
      margin-left: 0.75rem;
    }
  }
}

.carousel li.slide {
  background-color: white;
  text-align: left;
  padding: 0.75rem;
}
