@import '../../global-variables.scss';

.nav {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 100;
  display: flex;
  justify-content: center;

  .menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
    max-width: 1024px;
    margin: 0 3%;

    .items {
      list-style: none;
      padding: 0;

      .item {
        display: inline-block;
        margin: 0 0.5rem;
        padding: 0.2rem 0.05rem;
        letter-spacing: 1px;
        cursor: pointer;

        &:hover {
          color: $red;
        }

        @media only screen and (min-width: 900px) {
          & {
            margin: 0 1rem;
          }
        }

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }

  .social-media {
    display: flex;

    .media {
      margin: 0 0.5rem;
      font-size: 1.5rem;
      cursor: pointer;
      transition: color 0.1s ease-out;

      &:hover {
        color: darken(#e45c4c, 10%);
      }
    }
  }
}
